@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
 ::-webkit-scrollbar{
    height: 0px;
    width: 0px;
 }
 body{
    position: absolute;
 }

 img{
    width: 100vw;
    position: relative;
    right: 3px;
 }
 a{
    width: 269px;
    margin-top:0px;
    background-color: darkred;
    display: block;
    font-weight: bolder;
    text-decoration:none;
    text-align: center;
    position: absolute;
    left: -3px;
    top:2820px;
    color: white;}
    a:hover{
        background-color: red;
        left: 4px;
    }