@charset "UTF-8";
*{
    margin: 0px;
    padding: px;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}


body{
    position: absolute;
}
img{
    width: 100vw;
    background-size: cover;
    position: relative;
    left: -3px;
    top: -10px;
}
a{
    width: 269px;
    margin-top:0px;
    background-color: darkred;
    display: block;
    font-weight: bolder;
    text-decoration:none;
    text-align: center;
    position: absolute;
    left: -2px;
    top:2254px;
    color: white;}

a:hover{
    background-color: red;
    left: 3px;
}