body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
#loader{
    width: 100px;
    height: 100px;
    display: flex;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: loading 0.5s linear infinite ;
    color: rgb(8, 0, 255);
    
}
@keyframes
loading{
    to{
        transform: rotate(360deg);
    }
}